/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
    position: relative;
    color: white;
    height: 100vh;
    background: linear-gradient(200.96deg, #10c036 -29.09%, #3f51b5 51.77%, #a115e2 129.35%);
    font-family: sans-serif;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
