/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
    position: relative;
    color: white;
    height: 100vh;
    font-family: sans-serif;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    //background: linear-gradient(200.96deg, #10c036 -29.09%, #3f51b5 51.77%, #a115e2 129.35%);
    background: #424242;

    #root {
        height: 100%;
        width: 100%;
    }

    .installButton {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .loadingText {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo {
        position: fixed;
        bottom: 0px;
        right: 0px;
    }
}
